<a href="https://colab.research.google.com/github/chetansonaje/LetsUpgrade-Python-Essential/blob/master/Day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
 
#List
list =['qw',12,'gh',56]
list1 =[18,'fg']
print (list)
print (list +list1)
print (list[0])
print (list1 *2)
print (list[2:])

['qw', 12, 'gh', 56]
['qw', 12, 'gh', 56, 18, 'fg']
qw
[18, 'fg', 18, 'fg']
['gh', 56]

In [83]:
 
#Dictionary
dict = {}
dict = {'name':'Chetan', 'Id':25, 'City': 'Mumbai',1:[4,5]}
dict1 ={1:2,3:5}
print (dict)
print (dict.values())
print (dict.keys())
print (dict1)
print (dict1.values())
print (dict['name'])

{'name': 'Chetan', 'Id': 25, 'City': 'Mumbai', 1: [4, 5]}
dict_values(['Chetan', 25, 'Mumbai', [4, 5]])
dict_keys(['name', 'Id', 'City', 1])
{1: 2, 3: 5}
dict_values([2, 5])
Chetan

In [84]:
 
#set
st = {"chetan",2,2,4,3.3,5,5}
st1 = {3,3,2}
print (st)
print (st1)
print (len(st))
st.remove(4)
print (st)
st.add(9)
print(st)
st.update(st1)
print (st)
b=st.pop()
print (b)
st.discard(2)
print (st)

{2, 3.3, 4, 5, 'chetan'}
{2, 3}
5
{2, 3.3, 5, 'chetan'}
{2, 3.3, 5, 9, 'chetan'}
{2, 3.3, 3, 5, 9, 'chetan'}
2
{3.3, 3, 5, 9, 'chetan'}

In [85]:
 
#Tuple
tuple =(12,4.5,12,'hj','ty')
tuple1=(4,4,4.5)
print (tuple)
print (tuple1)
print (tuple[3])
print (tuple+tuple1)
print (tuple1 *2)

(12, 4.5, 12, 'hj', 'ty')
(4, 4, 4.5)
hj
(12, 4.5, 12, 'hj', 'ty', 4, 4, 4.5)
(4, 4, 4.5, 4, 4, 4.5)

In [86]:
 
#String
str = 'lets upgradians'
print (str)
print (str * 2)
print (str +'34')
print (str[0])
print (str[5:8])

lets upgradians
lets upgradianslets upgradians
lets upgradians34
l
upg